.ssh/
.db
.storage
.google.token
home-assistant.log*
id_rsa*
node_modules
zigbee.db-wal
zigbee.db-shm
zigbee.db-wal
secrets.yaml
zigbee.db
notify-groups.yaml
www/mail_and_packages/*
/custom_components/mail_and_packages/images/*
/custom_components/mail_and_packages/test/*
/nest/event_media/*
.manish940@hotmail.com.august.conf
.google.token